@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,700&display=swap');

* {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

.bgImg {
  background-image: url(./Imgs/12-about_bg_01.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #f7f7f8;
  margin-top: 60px;
}

/* ---- Nav style start ---  */

.socialWrapper {
  display: none;
}

.nav-bar {
  display: flex;
  position: absolute;
  top: 2px;
  height: 58px;
  background-color: #f7f7f8;
  width: 100%;
}

.wrap-hamburger {
  display: flex;
  align-items: center;
}

.hamburger {
  padding: 4px;
  border: none;
  cursor: pointer;
  z-index: 100;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: #f7f7f8;
}

.menuIcon {
  position: fixed;
  font-weight: 900;
  font-size: 30px;
}

.logo {
  display: none;
}

.nav-list {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #ec5242;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.navItem {
  display: block;
  margin: 2rem 0;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
}

.box {
  border: #d3d3d3 solid 3px;
  border-radius: 8px;
  margin: 0 130px;
  padding: 15px 0;
}

.box:hover {
  border-color: #272a31;
  transform: scale(1.2);
}

.navItem a {
  text-decoration: none;
  color: #fff;
}

.navItem:hover {
  transform: scale(1.1);
}

.navItem a:hover {
  text-decoration: underline;
  color: #272a31;
}

.menuIcon:hover {
  background-color: #ec5242;
  color: #fff;
  border-radius: 4px;
  transform: scale(1.3);
}

.closeIcon {
  display: none;
}

.closeIcon:hover {
  background-color: #272a31;
  color: #fff;
  transform: scale(1.3);
}

.showMenu {
  transform: translateY(0);
}

/* ----- Main section and headline start */

.headline {
  padding-top: 10px;
  text-align: center;
  margin: 0 25px;
}

.headline img {
  width: 90%;
  background: transparent;
}

.message {
  margin: 40px 25px 0 25px;
  padding: 0 30px;
  line-height: 25px;
  word-break: break-all;
  text-align: justify;
  background-color: rgb(247, 247, 248);
  color: rgb(111, 112, 116);
  /* background: transparent; */
}

.location {
  text-align: center;
  width: 100%;
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 100px;
  background-color: rgb(247, 247, 248);
  color: #272a31;
  line-height: 30px;
  background: transparent;
}

.location .date {
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
}

.location .locate {
  font-size: 16px;
  color: rgb(111, 112, 116);
}

/* Main section start */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.headline {
  color: #ef1f08;
  margin-top: 5px;
  line-height: 30px;
}

.headline > h4 {
  font-weight: 400;
}

.headline > h1 {
  font-weight: 900;
}

.main .headline_detail,
.photes p {
  font-size: 12px;
  padding: 16px;
  margin: 26px;
  line-height: 20px;
  background-color: #fff;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: 0 42px;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 30px;
}

.contact a {
  color: #000;
  font-weight: 900;
}

/* logo section start */

.logo1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.guidbar {
  width: 32px;
  height: 16px;
  border-bottom: 1px solid #ec5242;
  margin: 0px auto 24px;
}

.logo_details {
  font-size: 12px;
  margin: 0 40px 40px 40px;
}

.logo_img img {
  width: 90%;
  margin-bottom: 40px;
}

/* photos section  */

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.photos p {
  margin-top: -20px;
}

.photos img {
  width: 90%;
  margin-bottom: 12px;
}

/* partner section start */

.partner {
  background-color: #272a31;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

.partner_title {
  margin-top: 30px;
}

.partner_logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin: 0 40px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.partner_logo img {
  width: 100%;
}

/* footer start */

.mobile-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-footer img {
  width: 100%;
  height: auto;
}

.mobile-footer h6 {
  color: #808080;
  margin-right: 30px;
  font-weight: 800;
}

@media (min-width: 768px) {

}