@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,700&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --primaryWhite: #fff;
  --orange: #ec5242;
  --red: #ef1f08;
  --whiteLightOpacity: #f7f7f8;
  --lightBlack: #272a31;
  --gray: #6f7074;
  --lightBlack-2: #414245;
  --lightGray: #d3d3d3;
}

a {
  color: black;
  text-decoration: none;
}
